<style>
body {
    font-family: Meiryo;
	text-align: center;
}

p {
	text-align: center;
}

form {
	font-weight: bold;
	text-align: Left;
	width: 500px;
	padding: 10px;
	border: 2px solid #cccccc;
	margin: 30px auto;
}

#l-box {
	width: 49%;
    float: left;
}

#r-box {
	width: 49%;
	float: right;
}

h1 {
	font-size: large;
	font-style: oblique;
	background-color: #cccc99;
}
</style>