<style>
body {
    font-family: Meiryo;
	text-align: center;
}

h1 {
	font-size: large;
	font-style: oblique;
	background-color: #cccc99;
}

p {text-align: center;}
img {text-align: center;}
a:link { color: #0000ff; }
a:visited { color: #000080; }
a:hover { color: #ff0000; }
a:active { color: #ff8000; }

form {
	font-weight: bold;
	text-align: Left;
	width: 500px;
	padding: 10px;
	border: 2px solid #cccccc;
	margin: 30px auto;
}

#cmt {
	color: #ff0000;
	font-weight: lighter;
}

#l-box {
	width: 49%;
    float: left;
}

#r-box {
	width: 49%;
	float: right;
}

#plat_form {
	background-color: red;
	color: rgb(255,255,255);
}

</style>